@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');


* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;

}

:root {
    /* Light theme colors */
    --color-text-primary: #1F2936;
    --color-text-placeholder: #798EAE;
    --color-bg-primary: #f9fafb;
    --color-bg-secondary: #ECECFD;
    --color-bg-sidebar: #FFFFFF;
    --color-border-hr: #E2E8F0;
    --color-hover-primary: #A6121F;
    --color-hover-secondary: #e2e2fb;
    --color-shadow: rgba(0, 0, 0, 0.05);
}

body.dark-theme {
    /* Dark theme colors */
    --color-text-primary: #F1F5F9;
    --color-text-placeholder: #A6B7D2;
    --color-bg-primary: #111827;
    --color-bg-secondary: #3D4859;
    --color-bg-sidebar: #1f2937;
    --color-border-hr: #3B475C;
    --color-hover-secondary: #48566a;
    --color-shadow: rgba(0, 0, 0, 0.3);
}

body {
    min-height: 100vh;
    background: var(--color-bg-primary);
}

.sidebar {
    position: sticky;
    top: 0;
    width: 270px;
    height: 100vh;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    background: var(--color-bg-sidebar);
    border-right: 1px solid var(--color-border-hr);
    box-shadow: 0 3px 9px var(--color-shadow);
    transition: width 0.4s ease;
}

.sidebar.collapsed {
    width: 90px;
}

.titulo-sidebar {
    color: var(--color-text-primary);
    font-size: 1rem;
    padding-left: 2px;
    transition: opacity 0.3s ease;
}

.sidebar .sidebar-header {
    padding: 20px 18px;
    display: flex;
    position: relative;
    align-items: center;
    /* justify-content: space-between; */
    border-bottom: 1px solid var(--color-border-hr);
}

.sidebar-header .header-logo {
    width: 46px;
    height: 46px;
    display: block;
    object-fit: contain;
    border-radius: 50%;
    transition: opacity 0.4s ease;
    filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.1));
}

.sidebar.collapsed .header-logo,
.sidebar.collapsed .titulo-sidebar {
    opacity: 0;
    pointer-events: none;
}

.site-nav .sidebar-toggle,
.sidebar-header .sidebar-toggle {
    height: 40px;
    width: 40px;
    border: none;
    cursor: pointer;
    display: flex;
    position: absolute;
    right: 18px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    color: var(--color-text-primary);
    background: var(--color-bg-secondary);
    transition: 0.4s ease;
}

.site-nav .sidebar-toggle:hover,
.sidebar-header .sidebar-toggle:hover {
    background: var(--color-hover-secondary);
}

.sidebar.collapsed .sidebar-header .sidebar-toggle {
    transform: translateX(-2px);
    height: 48px;
    width: 50px;
}

.sidebar-header .sidebar-toggle span {
    font-size: 1.75rem;
    transition: transform 0.4s ease;
}

.sidebar.collapsed .sidebar-toggle span {
    transform: rotate(180deg);
}

.sidebar .sidebar-content {
    flex: 1;
    padding: 20px 18px;
    overflow: hidden auto;
    scrollbar-width: thin;
    scrollbar-color: var(--color-text-placeholder) transparent;
}

.sidebar.collapsed .sidebar-content {
    scrollbar-width: none;
}

.sidebar-content .search-form {
    border-radius: 8px;
    min-height: 48px;
    margin: 5px 0 20px;
    align-items: center;
    display: flex;
    padding: 0 15px;
    white-space: nowrap;
    background: var(--color-bg-secondary);
    transition: 0.4s ease;
}

.sidebar.collapsed .search-form:hover {
    cursor: pointer;
}

.sidebar-content .search-form:focus-within,
.sidebar.collapsed .search-form:hover {
    background: var(--color-hover-secondary);
}

.sidebar-content .search-form span {
    color: var(--color-text-placeholder);
}

.search-form input {
    background: none;
    outline: none;
    border: none;
    width: 100%;
    margin-left: 15px;
    font-size: 1rem;
    color: var(--color-text-primary);
}

.search-form input::placeholder {
    color: var(--color-text-placeholder);
}

.sidebar-content .menu-list {
    display: flex;
    gap: 4px;
    list-style: none;
    flex-direction: column;
}

.menu-list .menu-link {
    display: flex;
    gap: 12px;
    white-space: nowrap;
    border-radius: 8px;
    padding: 12px 15px;
    align-items: center;
    text-decoration: none;
    color: var(--color-text-primary);
    transition: 0.3s ease;
}

.menu-link .menu-label {
    transition: opacity 0.3s ease;
}

.sidebar.collapsed .menu-link .menu-label {
    opacity: 0;
    pointer-events: none;
}

.menu-list .menu-link:hover {
    color: #fff;
    background: var(--color-hover-primary);
}

.menu-list .menu-link.active {
    color: #fff;
    background: var(--color-hover-primary);
}

.sidebar .sidebar-footer {
    padding: 20px 18px;
    /* white-space: nowrap; */
    border-top: 1px solid var(--color-border-hr);
}

.sidebar-footer .theme-toggle {
    width: 100%;
    min-height: 48px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
    padding: 0 15px;
    white-space: nowrap;
    color: var(--color-text-primary);
    background: var(--color-bg-secondary);
    transition: 0.3s ease;
}

.sidebar-footer .theme-toggle:hover {
    background: var(--color-hover-secondary);
}

.theme-toggle .theme-label {
    display: flex;
    gap: 10px;
    align-items: center;
}

.theme-toggle .theme-label .theme-text {
    font-size: 1rem;
    transition: opacity 0.4s 0.2s ease;
}

.sidebar.collapsed .theme-toggle :where(.theme-text, .theme-toggle-track) {
    opacity: 0;
    width: 0;
    transition: all 0.2s ease;
}

.theme-toggle .theme-toggle-track {
    height: 24px;
    width: 48px;
    border-radius: 999px;
    margin-left: auto;
    background: #c3d1ec;
    position: relative;
    transition: opacity 0.4s 0.2s ease, background-color 0.3s ease;
}

body.dark-theme .theme-toggle-track {
    background: #695CFE;
}

.theme-toggle-track .theme-toggle-indicator {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

body.dark-theme .theme-toggle-indicator {
    transform: translateX(24px);
}

.site-nav {
    top: 0;
    display: none;
    padding: 15px 20px;
    position: sticky;
    background: var(--color-bg-primary);
    border-bottom: 1px solid var(--color-border-hr);
}

.site-nav .sidebar-toggle {
    position: unset;
}

#container {
    display: flex;
    width: 100%;
}

.cards-principais {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.container .main-content {
    /* width: 100%; */
    flex: 1;
    min-width: 0;
    padding: 30px;
    color: var(--color-text-primary);
}

.main-content .page-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.main-content .card {
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    height: 50vh;
    background-color: var(--color-bg-sidebar);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.card .title-card {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    padding-bottom: 5px;
}
.card {
    /* padding: 25px; */
    display: flex;
    flex-direction: column;
    height: 350px;;
}
.btn-card {
    margin-top: auto;
    width: 100%;
    padding: 10px 20px;
    background-color: #A6121F;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-card:hover {
    background-color: #870917;
}
.main-inicial {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
    justify-content: space-between;
}

.perfil-img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

.sidebar-footer .btn-sair {
    width: 100%;
    gap: 12px;
    /* height: 30px; */
    /* padding: 5px; */
    min-height: 48px;
    align-items: center;
    border: none;
    margin-top: 10px;
    color: var(--color-text-primary);
    white-space: nowrap;
    border-radius: 8px;
    transition: 0.3s ease;
    padding: 0px 15px;
    display: flex;
    background: none;
    cursor: pointer;
}

.btn-sair:hover {
    background-color: #A6121F;
}

.blog-card {
    color: #000;
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    box-shadow: 0 3px 7px -1px rgba(0, 0, 0, .1);
    margin-bottom: 1.6%;
    background: #fff;
    line-height: 1.4;
    font-family: "Poppins", sans-serif;
    border-radius: 5px;
    overflow: hidden;
    min-height: 300px;
    z-index: 0;
    a {
        color: inherit;
        &:hover {
        color: var(--color-hover-primary);
        }
    }
    &:hover {
        .photo {
        transform: scale(1.3) rotate(3deg);
        }
    }
    .meta {
        position: relative;
        z-index: 0;
        height: 200px;
    }
    .photo {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-size: cover;
        background-position: center;
        transition: transform .2s;
    }
    .photo-placeholder {
            background-color: #ccc; /* Cor de fundo para indicar a ausência de imagem */
            display: flex; /* Habilita o Flexbox */
            justify-content: center; /* Centraliza horizontalmente */
            align-items: center; /* Centraliza verticalmente */
            text-align: center;
            color: #555;
            font-weight: bold;
        }

        /* Opcional: Garante que o texto se ajuste */
        .photo-placeholder span {
            display: block;
            padding: 10px;
        }
    .details,
    .details ul {
        margin: auto;
        padding: 0;
        list-style: none;
    }

    .details {
        position: absolute;
        top: 0;
        bottom: 0;
        left: -100%;
        margin: auto;
        transition: left .2s;
        background: rgba(0, 0, 0, 0.6);
        color: #fff;
        padding: 10px;
        width: 100%;
        font-size: .9rem;
        a {
        text-decoration: dotted underline
        }
        ul li {
        display: inline-block;
        }
        li{
            margin-bottom: 10px;
        }
        
        .author:before {
        font-family: FontAwesome;
        margin-right: 10px;
        content: "\f007";
        }

        .date:before {
        font-family: FontAwesome;
        margin-right: 10px;
        content: "\f133";
        }

        .tags {
        ul:before {
            font-family: FontAwesome;
            content: "\f02b";
            margin-right: 10px;
        }
        li {
            color: #ff626f;
            margin-right: 2px;
            &:first-child {
            margin-left: -4px;
            }
        }
        }
    }
    .description {
        padding: 1rem;
        background: #fff;
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        h1,
        h2 {
        font-family: Poppins, sans-serif;
        }
        h1 {
            line-height: 1;
            margin: 0;
            font-size: 1.7rem;
            font-weight: 600;
        }
        h2 {
            font-size: 1rem;
            font-weight: 300;
            text-transform: uppercase;
            color: #626262;
            margin-top: 5px;
        }
        .read-more {
            margin-top: 25px;
            text-align: right;
            a {
                color: var(--color-hover-primary);
                display: inline-block;
                position: relative;
                &:after {
                    content: "\f061";
                    font-family: FontAwesome;
                    margin-left: -10px;
                    opacity: 0;
                    vertical-align: middle;
                    transition: margin .3s, opacity .3s;
                }

                &:hover:after {
                    margin-left: 5px;
                    opacity: 1;
                }
            }
        }
    }
    p {
        position: relative;
        margin: 1rem 0 0;
        &:first-of-type {
            margin-top: 1.25rem;
            &:before {
                content: "";
                position: absolute;
                height: 5px;
                background: var(--color-hover-primary);
                width: 35px;
                top: -0.75rem;
                border-radius: 3px;
            }
        }
    }
    &:hover {
        .details {
            left: 0%;
        }
    }


    @media (min-width: 640px) {
        flex-direction: row;
        max-width: 900px;
        .meta {
            flex-basis: 40%;
            height: auto;
        }
        .description {
            flex-basis: 60%;
            &:before {
                transform: skewX(-3deg);
                content: "";
                background: #fff;
                width: 30px;
                position: absolute;
                left: -10px;
                top: 0;
                bottom: 0;
                z-index: -1;
            }
        }
        &.alt {
            flex-direction: row-reverse;
            .description {
                &:before {
                left: inherit;
                right: -10px;
                transform: skew(3deg)
                }
            }
            .details {
                padding-left: 25px;
            }
        }
    }
}

/* Responsive media query code for small screens */
@media (max-width: 768px) {
    body::before {
        content: "";
        position: fixed;
        inset: 0;
        z-index: 10;
        opacity: 0;
        pointer-events: none;
        background: rgba(0, 0, 0, 0.6);
        transition: 0.4s ease;
    }

    .cards-principais #container .main-content {
        padding: 20px 15px;
        flex-direction: column;
    }

    .cards-principais {
        flex-direction: column;
    }

    body:has(.sidebar:not(.collapsed))::before {
        opacity: 1;
        pointer-events: auto;
    }

    body:has(.sidebar:not(.collapsed)) {
        overflow: hidden;
    }

    .site-nav {
        display: block;
    }

    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 20;
        width: 270px;
        transition: left 0.4s ease;
    }

    .sidebar.collapsed {
        left: -270px;
        width: 270px;
    }

    #container .main-content {
        padding: 30px 20px;
    }
}

/* Estilos para o container e fundo escuro (Overlay) */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 1;
    transition: opacity 0.3s ease;
}

/* Classe para esconder o modal */
.modal-hidden {
    opacity: 0;
    pointer-events: none; /* Impede cliques quando estiver escondido */
}


/* --- A partir daqui, o  CSS para o conteúdo do Modal --- */

.card-cancelar {
    overflow: hidden;
    position: relative;
    background-color: #ffffff;
    text-align: left;
    border-radius: 0.5rem;
    max-width: 290px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
        0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.header-cancelar {
    padding: 1.25rem 1rem 1rem 1rem;
    background-color: #ffffff;
}

.image {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: #fee2e2;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 9999px;
}

.image .material-symbols-rounded {
    color: #dc2626;      /* A mesma cor vermelha escura */
    font-size: 2rem;     /* Ajustamos o tamanho do ícone com font-size */
                         /* 2rem = 32px, um bom tamanho para o círculo de 3rem (48px) */
}

.content {
    margin-top: 0.75rem;
    text-align: center;
}

.title {
    color: #111827;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
}

.message {
    margin-top: 0.5rem;
    color: #6b7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.actions {
    margin: 0.75rem 1rem;
    /* Removi o background-color daqui para que o espaçamento seja transparente,
    o que geralmente fica melhor. Se preferir, pode manter: background-color: #f9fafb; */
}

.desactivate {
    display: inline-flex;
    padding: 0.5rem 1rem;
    background-color: #dc2626;
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    justify-content: center;
    width: 100%;
    border-radius: 0.375rem;
    border-width: 1px;
    border-color: transparent;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.cancel {
    display: inline-flex;
    margin-top: 0.75rem;
    padding: 0.5rem 1rem;
    background-color: #ffffff;
    color: #374151;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    justify-content: center;
    width: 100%;
    border-radius: 0.375rem;
    border: 1px solid #d1d5db;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.modal-overlay button {
    cursor: pointer;
}

